DATA_DIR=./data

# Logging Configuration
LOG_LEVEL=INFO

# OpenAI API Configuration
OPENAI_API_KEY=

# Groq API Configuration (alternative to OpenAI)
GROQ_API_KEY=

# Google Gemini API Configuration (alternative to OpenAI/Groq)
GOOGLE_API_KEY=


# Vector Database Configuration
CHROMA_HOST=api.trychroma.com
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=
CHROMA_COLLECTION_NAME=rag_documents

